<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.baurine.databindingdemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.FeatureListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.CombineActivity">
            <intent-filter>
                <action android:name="baurine.databinding.action.combine"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.EventActivity">
            <intent-filter>
                <action android:name="baurine.databinding.action.event"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.NormalObjectActivity">
            <intent-filter>
                <action android:name="baurine.databinding.action.normalobject"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ObservableObjectActivity">
            <intent-filter>
                <action android:name="baurine.databinding.action.observableobject"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ObservableFieldActivity">
            <intent-filter>
                <action android:name="baurine.databinding.action.observablefield"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ObservableCollectionActivity">
            <intent-filter>
                <action android:name="baurine.databinding.action.observablecollection"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ViewStubActivity">
            <intent-filter>
                <action android:name="baurine.databinding.action.viewstub"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.AttributeSettersActivity">
            <intent-filter>
                <action android:name="baurine.databinding.action.attributesetters"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>